html, body {
  font-family: "tahoma", Arial, sans-serif;
  font-size: 14px;
  font-weight: 14px;
  margin: 0;
  padding: 0; }

.spacer-20 {
  height: 20px; }

.spacer-60 {
  height: 60px; }

.container-fluid {
  position: relative;
  border-left: 1px solid #ed8d8d;
  border-right: 1px solid #ed8d8d; }
  .container-fluid:before {
    content: "100%";
    font-size: 8px;
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 1; }
  .container-fluid .scr-size {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 8px; }

.container {
  position: relative;
  border-left: 1px solid #ed8d8d;
  border-right: 1px solid #ed8d8d; }
  .container:before {
    content: "";
    font-size: 8px;
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 1; }
  .container .scr-size {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 8px; }

.row > [class*='col-lg'],
.row > [class*='col-md'],
.row > [class*='col-sm'] {
  margin-bottom: 10px; }

.row > [class*='col-'] {
  background-color: #f0f0f0; }
  .row > [class*='col-'] .content {
    position: relative;
    box-sizing: border-box;
    min-height: 30px;
    background: #dddddd;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    color: #888888;
    width: 100%;
    padding: 10px;
    /* border: 1px solid #dff1f9; */ }

@media (min-width: 768px) {
  .container:before {
    content: "750px"; }
  .row > [class*='col-lg'],
  .row > [class*='col-md'],
  .row > [class*='col-sm'] {
    margin-bottom: 10px; } }

@media (min-width: 992px) {
  .container:before {
    content: "970px"; } }

@media (min-width: 1200px) {
  .container:before {
    content: "1170px"; }
  .row > [class*='col-lg'],
  .row > [class*='col-md'],
  .row > [class*='col-sm'] {
    margin-bottom: 0px; } }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.container-fluid {
  width: 100%; }

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  /* override large, medium and small screens */ }
  .row > [class*='col-'] {
    flex: 1;
    padding-right: 15px;
    padding-left: 15px; }
  .row > [class*='col-lg'],
  .row > [class*='col-md'],
  .row > [class*='col-sm'] {
    flex-basis: 100%; }

/* xmsall devices (mobiles, below 768px) */
.row .col-xs,
.row .col-xs-1,
.row .col-xs-2,
.row .col-xs-3,
.row .col-xs-4,
.row .col-xs-5,
.row .col-xs-6,
.row .col-xs-7,
.row .col-xs-8,
.row .col-xs-9,
.row .col-xs-10,
.row .col-xs-11,
.row .col-xs-12 {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; }

.row .col-xs {
  flex: 1; }

.row .col-xs-1 {
  flex-basis: 8.33333333%; }

.row .col-xs-2 {
  flex-basis: 16.66666667%; }

.row .col-xs-3 {
  flex-basis: 25%; }

.row .col-xs-4 {
  flex-basis: 33.33333333%; }

.row .col-xs-5 {
  flex-basis: 41.66666667%; }

.row .col-xs-6 {
  flex-basis: 50%; }

.row .col-xs-7 {
  flex-basis: 58.33333333%; }

.row .col-xs-8 {
  flex-basis: 66.66666667%; }

.row .col-xs-9 {
  flex-basis: 75%; }

.row .col-xs-10 {
  flex-basis: 83.33333333%; }

.row .col-xs-11 {
  flex-basis: 91.66666667%; }

.row .col-xs-12 {
  flex-basis: 100%; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* override larege and medium screens */
  .row > [class*='col-lg'], .row > [class*='col-md'] {
    flex-basis: 100%; }
  /* override larege and medium screens end */
  .row .col-sm,
  .row .col-sm-1,
  .row .col-sm-2,
  .row .col-sm-3,
  .row .col-sm-4,
  .row .col-sm-5,
  .row .col-sm-6,
  .row .col-sm-7,
  .row .col-sm-8,
  .row .col-sm-9,
  .row .col-sm-10,
  .row .col-sm-11,
  .row .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; }
  .row .col-sm {
    flex: 1; }
  .row .col-sm-1 {
    flex-basis: 8.33333333%; }
  .row .col-sm-2 {
    flex-basis: 16.66666667%; }
  .row .col-sm-3 {
    flex-basis: 25%; }
  .row .col-sm-4 {
    flex-basis: 33.33333333%; }
  .row .col-sm-5 {
    flex-basis: 41.66666667%; }
  .row .col-sm-6 {
    flex-basis: 50%; }
  .row .col-sm-7 {
    flex-basis: 58.33333333%; }
  .row .col-sm-8 {
    flex-basis: 66.66666667%; }
  .row .col-sm-9 {
    flex-basis: 75%; }
  .row .col-sm-10 {
    flex-basis: 83.33333333%; }
  .row .col-sm-11 {
    flex-basis: 91.66666667%; }
  .row .col-sm-12 {
    flex-basis: 100%; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .row .col-md,
  .row .col-md-1,
  .row .col-md-2,
  .row .col-md-3,
  .row .col-md-4,
  .row .col-md-5,
  .row .col-md-6,
  .row .col-md-7,
  .row .col-md-8,
  .row .col-md-9,
  .row .col-md-10,
  .row .col-md-11,
  .row .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; }
  .row .col-md {
    flex: 1; }
  .row .col-md-1 {
    flex-basis: 8.33333333%; }
  .row .col-md-2 {
    flex-basis: 16.66666667%; }
  .row .col-md-3 {
    flex-basis: 25%; }
  .row .col-md-4 {
    flex-basis: 33.33333333%; }
  .row .col-md-5 {
    flex-basis: 41.66666667%; }
  .row .col-md-6 {
    flex-basis: 50%; }
  .row .col-md-7 {
    flex-basis: 58.33333333%; }
  .row .col-md-8 {
    flex-basis: 66.66666667%; }
  .row .col-md-9 {
    flex-basis: 75%; }
  .row .col-md-10 {
    flex-basis: 83.33333333%; }
  .row .col-md-11 {
    flex-basis: 91.66666667%; }
  .row .col-md-12 {
    flex-basis: 100%; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .row .col-lg,
  .row .col-lg-1,
  .row .col-lg-2,
  .row .col-lg-3,
  .row .col-lg-4,
  .row .col-lg-5,
  .row .col-lg-6,
  .row .col-lg-7,
  .row .col-lg-8,
  .row .col-lg-9,
  .row .col-lg-10,
  .row .col-lg-11,
  .row .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; }
  .row .col-lg {
    flex: 1; }
  .row .col-lg-1 {
    flex-basis: 8.33333333%; }
  .row .col-lg-2 {
    flex-basis: 16.66666667%; }
  .row .col-lg-3 {
    flex-basis: 25%; }
  .row .col-lg-4 {
    flex-basis: 33.33333333%; }
  .row .col-lg-5 {
    flex-basis: 41.66666667%; }
  .row .col-lg-6 {
    flex-basis: 50%; }
  .row .col-lg-7 {
    flex-basis: 58.33333333%; }
  .row .col-lg-8 {
    flex-basis: 66.66666667%; }
  .row .col-lg-9 {
    flex-basis: 75%; }
  .row .col-lg-10 {
    flex-basis: 83.33333333%; }
  .row .col-lg-11 {
    flex-basis: 91.66666667%; }
  .row .col-lg-12 {
    flex-basis: 100%; } }
