// _mixins.scss

//
// create space between dom elements
//
@mixin spacer($height) {
    .spacer-#{$height}{
        height: $height+px;
    }
}

//
// set basic properites on grid columns
//
@mixin init-grid-columns($class) {
    $classes: ".col-#{$class}";
    @for $i from 1 through $grid-columns {
        $classes: "#{$classes}, .col-#{$class}-#{$i}";
    }
    #{$classes} {
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
    }
}

//
// generates the width of grid columns
//
@mixin generate-grid-column-width($class) {

    .col-#{$class}{ flex: 1; }

    @for $i from 1 through $grid-columns {
        .col-#{$class}-#{$i}{
            flex-basis: percentage(($i / $grid-columns));
        }
    }
}

//
// generates the offset value of grid columns
//
@mixin generate-grid-column-offset($class) {

    @for $i from 0 through ($grid-columns - 1) {
        .col-#{$class}-offset-#{$i}{
            margin-left: percentage(($i / $grid-columns));
        }
    }
}








