//
// Grid Core
// --------------------------------------------------
//

//
// Grid Reset
//
*{
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}

//
// Grid core components
//
// Grid fluid container
.container-fluid{
    width:100%;
    margin : 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
// Grid container
.container{
    margin : 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $screen-sm) {
        &{
            width: $container-sm;
        }
    }
    @media (min-width: $screen-md) {
        &{
            width: $container-md;
        }
    }
    @media (min-width: $screen-lg) {
        &{
            width: $container-lg;
        }
    }
}
// Grid row
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    > [class*='col-']{
      flex: 1;
      padding-right: 15px;
      padding-left: 15px;
    }

    /* override large, medium and small screens */
    > [class*='col-lg'],
    > [class*='col-md'],
    > [class*='col-sm']{
      flex-basis: 100%;
    }

}

//
// Grid media qureies
//
// Xtramsall devices (mobiles, below 768px)
.row > {
    @include init-grid-columns(xs);
    @include generate-grid-column-width(xs);
}
// Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {

    // override larege and medium screens */
    .row > {
        [class*='col-lg'],
        [class*='col-md']{
            flex-basis: 100%;
        }
    }

    .row{
        @include init-grid-columns(sm);
        @include generate-grid-column-width(sm);
    }

}
// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {

    .row{
        @include init-grid-columns(md);
        @include generate-grid-column-width(md);
    }

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {

    .row{
        @include init-grid-columns(lg);
        @include generate-grid-column-width(lg);
    }

}

