//
// Grid Core
// --------------------------------------------------
//

//
// Grid Reset
//
*{
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}

//
// Grid core components
//
// Grid fluid container
.container-fluid{
    width:100%;
    margin : 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
// Grid container
.container{
    margin : 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $screen-sm) {
        &{
            width: $container-sm;
        }
    }
    @media (min-width: $screen-md) {
        &{
            width: $container-md;
        }
    }
    @media (min-width: $screen-lg) {
        &{
            width: $container-lg;
        }
    }
}
// Grid row
.row{
    display: flex;
        display: -webkit-box;
            display: -webkit-flex;
                display: -ms-flexbox;
    flex-direction: row;
        -ms-flex-direction: row;
    flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    > [class*='col-']{
      flex: 1;
      padding-left: ceil(($grid-gutter-width / 2));
      padding-right: floor(($grid-gutter-width / 2));
    }

    // override large, medium and small screens
    > [class*='col-lg'],
    > [class*='col-md'],
    > [class*='col-sm']{
      flex-basis: 100%;
    }

    //column alignment helpers
    &.align-default {
        align-items: stretch;
            -webkit-box-align: stretch;
                -webkit-align-items: stretch;
                    -ms-flex-align: stretch;
    }
    &.align-center {
        align-items: center;
            -webkit-box-align: center;
                -webkit-align-items: center;
                    -ms-flex-align: center;
    }
    &.align-top {
        align-items: flex-start;
            -webkit-box-align: flex-start;
                -webkit-align-items: flex-start;
                    -ms-flex-align: flex-start;
    }
    &.align-bottom {
        align-items: flex-end;
            -webkit-box-align: flex-end;
                -webkit-align-items: flex-end;
                    -ms-flex-align: flex-end;
    }

}

//
// Grid media qureies
//
// Xtramsall devices (mobiles, below 768px)
.row > {
    @include init-grid-columns(xs);
    @include generate-grid-column-width(xs);
    @include generate-grid-column-offset(xs);
}
// Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {

    // override larege and medium screens */
    .row > {
        [class*='col-lg'],
        [class*='col-md']{
            flex-basis: 100%;
        }
    }

    .row{
        @include init-grid-columns(sm);
        @include generate-grid-column-width(sm);
        @include generate-grid-column-offset(sm);
    }

}
// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {

    .row{
        @include init-grid-columns(md);
        @include generate-grid-column-width(md);
        @include generate-grid-column-offset(md);
    }

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {

    .row{
        @include init-grid-columns(lg);
        @include generate-grid-column-width(lg);
        @include generate-grid-column-offset(lg);
    }

}

